* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-image: url(../../src/Clases/Guerreo/FondoGR.jpg);
  background-repeat: no-repeat;
}

main {
  width: 97%;
  max-width: 1800px;
  margin: auto;
  color: #f1eacb;
  text-shadow: 0 0 3px #141414;
}

.Titulo {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.Granblok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Contenedor {
  width: 35%;
}

.Bloque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ImgCentro {
  position: absolute;
  z-index: -1;
  top: 130px;
  left: calc( 50% - 15.5%);
  right: 0;
  width: 30%;
}

.Esc {
  width: 200px;
  margin: auto;
}

.Especializaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 10px;
  color: #f1eacb;
  text-shadow: 0 0 3px #141414;
}

.cajitas {
  background-color: #252521;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  border: 1px solid #ebe97d;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px;
          box-shadow: inset 0 0 3px;
}

.cajitas:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.aespe {
  color: #f1eacb;
  text-shadow: 0 0 3px #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ptext {
  padding: 5px;
}

.pcajitas {
  padding: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f1eacb;
  text-shadow: 0 0 3px #141414;
  text-align: center;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.footer {
  width: 100%;
}

.RzDisponibles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: auto;
  gap: 1%;
}

.RzDisponibleAli {
  background-image: url(../../src/Generales/FondoAlip.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #ebe97d;
  width: 100%;
  padding: 10px;
  margin: 0.5% 0%;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px;
          box-shadow: inset 0 0 3px;
}

.RzDisponibleAlianza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.RzDisA {
  background-color: #212125d8;
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ebe97d;
  border-radius: 5px;
  margin: 1%;
  -webkit-box-shadow: inset 0 0 3px;
          box-shadow: inset 0 0 3px;
}

.RzDisA:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.aRzDAli {
  color: #f1eacb;
  text-shadow: 0 0 3px #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1% 15%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RzDisp {
  width: 60px;
  height: 70px;
}

.RzDisponibleHor {
  background-image: url(../../src/Generales/FondoHorp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #ebe97d;
  width: 100%;
  padding: 10px;
  margin: 0.5% 0%;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px;
          box-shadow: inset 0 0 3px;
}

.RzDisponibleHorda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.RzDisH {
  background-color: #212125d8;
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ebe97d;
  border-radius: 5px;
  margin: 1%;
  -webkit-box-shadow: inset 0 0 3px;
          box-shadow: inset 0 0 3px;
}

.RzDisH:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.aRzDHor {
  color: #f1eacb;
  text-shadow: 0 0 3px #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1% 15%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RzDisponibleHorda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

h3 {
  color: #f1eacb;
  text-shadow: 0 0 3px #141414;
  margin: 0 0 10px 0;
  font-weight: 800;
  font-size: 3WH;
}
/*# sourceMappingURL=Guerrero.css.map */